{% extends 'base.html.twig' %}

{% block title %}Hello World{% endblock %}

{% block body %}
    <h2>Bienvenue dans votre espace personnel {{ user.firstName }} {{ user.lastName }}</h2>

{% if 'ROLE_ADMIN' in  user.roles %} <a href="/admin/user"> Manage Users </a> {% endif %}
<a href="/logout"> Logout </a>
{% endblock %} 