{% extends 'base.html.twig' %}

{% block title %}{% trans from "translate" %}edit_user{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans from "translate" %}edit_user{% endtrans %}</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'|trans({}, 'translate')}) }}

    <a href="{{ path('app_user_index') }}">{% trans from "translate" %}back_to_list{% endtrans %}</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
