{% extends 'base.html.twig' %}

{% block title %}{% trans from "translate" %}create_new{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans from "translate" %}create_new{% endtrans %}</h1>

    <div class="d-flex w-100 justify-content-start btn-wrapper"> 
        <a class="btn custom-btn" href="{{ path('app_user_index') }}">{% trans from "translate" %}back_to_list{% endtrans %}</a>
    </div>

    {{ include('user/_form.html.twig') }}
{% endblock %}
