{% extends 'base.html.twig' %}

{% block title %}{% trans from "translate" %}create_new{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans from "translate" %}create_new{% endtrans %}</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}">{% trans from "translate" %}back_to_list{% endtrans %}</a>
{% endblock %}
